<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite name="TestSuite 1" id="372ec147-5a3c-47fc-a67c-1605b874f822" xmlns:con="http://eviware.com/soapui/config"><con:description>Test Suite for REST web services</con:description><con:settings><con:setting id="IncludeOverview">true</con:setting><con:setting id="IncludeResults">true</con:setting><con:setting id="FlowLayout">false</con:setting><con:setting id="ErrorDetails">true</con:setting><con:setting id="IncludeCoverage">true</con:setting><con:setting id="GeneratableJUnitReport@Style">Multiple Pages</con:setting><con:setting id="GeneratableJUnitReport@Folder">C:\amitu\re</con:setting></con:settings><con:runType>SEQUENTIAL</con:runType><con:properties><con:property><con:name>cabinet id</con:name><con:value>0c0001ac80000eea</con:value></con:property><con:property><con:name>repositoryID</con:name><con:value>xml70rp</con:value></con:property></con:properties><con:reportParameters/></con:testSuite>